WebApplicationStudent/Service References/ServiceReference1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="WcfServiceStudent" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="WcfServiceStudent" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="WcfServiceStudent/Imports">
      <xsd:import schemaLocation="http://localhost/WcfServiceStudent/Service1.svc?xsd=xsd0" namespace="WcfServiceStudent" />
      <xsd:import schemaLocation="http://localhost/WcfServiceStudent/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WcfServiceStudent/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceStudent" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:getStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_getStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:getStudentById" />
  </wsdl:message>
  <wsdl:message name="IService1_getStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:addStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_addStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:addStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:updateStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_updateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getStudents">
      <wsdl:input wsaw:Action="StudentService/GetStudents" message="tns:IService1_getStudents_InputMessage" />
      <wsdl:output wsaw:Action="WcfServiceStudent/IService1/getStudentsResponse" message="tns:IService1_getStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="WcfServiceStudent/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="WcfServiceStudent/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStudentById">
      <wsdl:input wsaw:Action="StudentService/GetStudentById" message="tns:IService1_getStudentById_InputMessage" />
      <wsdl:output wsaw:Action="WcfServiceStudent/IService1/getStudentByIdResponse" message="tns:IService1_getStudentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteStudent">
      <wsdl:input wsaw:Action="StudentService/deleteStudent" message="tns:IService1_deleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="WcfServiceStudent/IService1/deleteStudentResponse" message="tns:IService1_deleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <wsdl:input wsaw:Action="StudentService/AddStudent" message="tns:IService1_addStudent_InputMessage" />
      <wsdl:output wsaw:Action="WcfServiceStudent/IService1/addStudentResponse" message="tns:IService1_addStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateStudent">
      <wsdl:input wsaw:Action="StudentService/updateStudent" message="tns:IService1_updateStudent_InputMessage" />
      <wsdl:output wsaw:Action="WcfServiceStudent/IService1/updateStudentResponse" message="tns:IService1_updateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="WcfServiceStudent/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="WcfServiceStudent/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>